body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
  }
  
  .navbar {
    background: #9A77CF;
    background: linear-gradient(to bottom, #9A77CF, #9A77CF);

  }
  
  .navbar .nav-link {
    color: #ffffff !important;
    font-size: 0.8rem;
  }
  
  .navbar .navbar-brand {
    color: #ffffff;
  }
  
  .navbar .navbar-toggler-icon {
    filter: invert(1);
  }
  
  .navbar .dropdown-menu {
    background-color: #9A77CF;
    font-size: 0.8rem;
  }
  
  .navbar .dropdown-menu .dropdown-item {
    color: white !important;
  }
  
  .navbar .nav-link:hover, .navbar .dropdown-menu .dropdown-item:hover, .btn-outline-success:hover {
    background-color: transparent;
    color: yellow !important;
  }
  


        .page2 input{
          padding: 8px 5px 8px 33px;
          font-size: 14px;
          border: none;
          border-radius: 25px;
          outline: none;
          width: 400px;
          background: url("magnifying-glass-solid.svg");
          background-repeat: no-repeat;
          background-color: white;
          background-position: 10px 12px;
          background-size: 14px;
        }
        .dropdown-menu-scroll {
        max-height: 200px; /* Set the desired height */
        overflow-y: auto; /* Add vertical scroll */
        }
        .d-flex-icons {
          position: absolute;
          top: 20px;
          right: 20px;
          display: flex;
          align-items: center;
        }
        
        .d-flex-icons i {
          font-size: 15px;
          color: #fbfbfb;
          margin-left: 10px;
          transition: color 0.2s ease-in-out;
        }
        
        .d-flex-icons i:hover {
          color: #e6da53;
          cursor: pointer;
        }
        
        .d-flex-icons i {
          margin-right: 10px; 
        }

  .card {
    margin-top: 0px;
      max-height: 450px; /* Set desired height for the image */
      overflow: hidden;
      border-radius: 0%;
    }
    
    
    .card-img {
      max-height: 200%; /* Ensure the image doesn't exceed the card height */
      object-fit: cover; /* Maintain aspect ratio */
      border-radius: 0%;
    }
    .card-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      word-wrap: break-word;
      text-align: left;
       
    }
    
    .card-text {
      font-family: 'Open Sans', sans-serif;
      word-wrap: break-word;
      left: 5%;
      top: 20%;
      text-align: left;
    }
    .overlay-left {
        left: 0;
        width: 50%;
        padding: 20px;
        text-align: left;
      }
          
          .btn-primarys {
            margin-right: 5px;
            background-color: rgba(128, 128, 128, 0.5);
            border: none;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 10px;
            border-radius: 20px;
          }
          
          .btn-primarys:hover {
            background-color: rgba(128, 128, 128, 0.8); 
          }
          
          .btn-primarys:active {
            background-color: rgba(128, 128, 128, 1); 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
          .page6{
            color: green;
            font-size: 23px;
            font-weight: 600;
          }
          .page7{
            color: red;
            text-decoration: line-through;
            color: red;
            font-size: 15px;
          }
          
          .page8{
            padding-top: 5px;
          }
        
          .course-meta {
            font-size: 0.9em;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
            padding-top: 5px;
        }
        
        .meta-item {
            font-size: 0.9em;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px 10px;
            border: 1px solid #fefefe;
            border-radius: 20px;
            cursor: pointer;
        }
        .meta-item:hover{
          background-color: white;
          color: black;
        }
        .instructor a{
          color: white;
        }
        
        .page10{
          background-color: whitesmoke;
          box-shadow: 2px 2px 2px rgb(202, 199, 199);
        }
        
        
          .language-dropdown {
            margin-top: 5px;
        }
        .language-dropdown #languagei-icon {
            margin-right: 5px;
            cursor: pointer;
        }
        
        .language-dropdown #language-text {
            font-size: 14px;
        }
        
        .language-dropdown #all-languages {
            display: none;
            margin-top: 5px;
        }
        
        .language-dropdown #more-languages {
            cursor: pointer;
            text-decoration: underline;
        }
        .instructor {
            margin-top: 10px; /* Adds spacing below the buttons */
        }
        .rating {
          display: flex; /* Make the rating stars inline */
          align-items: center; /* Vertically center the rating stars */
        }
        
        .rating i {
          margin-right: 4px; /* Add some space between the rating stars */
        }

          .show {
            display: block;
          }


        

        .card-text li {
            margin-bottom: 10px; 
        }
        .card {
            margin: 20px 0;
            height:fit-content;
        }
        .description-content {
            overflow: hidden;
            transition: max-height 0.5s ease;
        }
        
        .description-content.collapsed {
            max-height: 400px; /* Adjust this value to fit half the content height */
        }
        
        .testimonial-box {
            background-color: #deddc0;
            padding: 20px;
            border: 1px solid #000000;
            border-radius: 10px;
            margin-bottom: 20px;
            display: flex;
          }
          .box {
            border: 1px solid black;
            padding: 10px;
            display: flex;
          }
          
          .avatar {
            border-radius: 50%;
            margin-right: 10px;
            align-self: flex-end;
          }
          
          .testimonial {
            flex: 1;
          }
          .testimonial-card {
            display: flex;
            flex-direction: column;
          }
          .testimonial-heading {
            background-color: rgba(255, 255, 255, 0.847); /* Light grey background */
            padding: 15px;
            border-radius: 5px;
            font-family: 'Roboto', sans-serif;
            color: #333;
        }
        
          .testimonial-card .card-body {
            flex-grow: 1;
            overflow-y: auto;
          }
        
        .partners-section {
            background-color: #f0f4ff; 
            text-align: center;
            padding: 30px 0;
        }
        
        .partners-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            margin-bottom: 20px;
        }
        
        .partners-logos img {
            margin: 0 15px;
            height: 50px; 
        }
        .section-heading {
            background-color: #9A77CF; 
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px; 
          }
          
          .section {
            padding: 60px 0;
            background-color: #ffff;
            margin-bottom: 20px;
            border-radius: 8px;
          }
          
          .section h2 {
            text-align: center;
            margin-bottom: 30px;
            line-height: 1.2;
            word-wrap: break-word;
          }
          .btn-primary {

            background-color: #9A77CF;
            border-color: #582a9e;
        }
        
        .btn-primary:hover {
            color: #fff;
            background-color: #7b4bc2;
            border-color: #582a9e;
        
        }
          .container-fluid {
            padding: 0 30px; 
          }
          
          .cardc {
            transition: transform 0.3s;
            background-color: #ffffff;
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 8px;
          }
          
          .cardc:hover {
            transform: translateY(-10px);
            background-color: rgb(168, 162, 162);
          }
          
          .cardc img {
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
          }
          
          .card-body {
            text-align: center;
          }
          
          .card-title {
            font-size: 18px;
            font-weight: bold;
          }
          
          .card-text {
            font-size: 14px;
          }
          
          .card-teacher {
            font-size: 14px;
            color: #555;
          }
          
          .card-rating {
            font-size: 14px;
            color: #ffbf00; 
          }
          
          .card-price {
            font-size: 16px;
            font-weight: bold;
            color: #28a745; 
          }
          
          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            background-color: rgba(0, 0, 0, 0.5); 
        
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .icon-img {
            width: 50px;
            height: 50px;
        }
        .overlay-image {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%; /* adjust the width to your liking */
            height: 100%;
            object-fit: cover;
            border-color: none;
          }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
        .FAQ {
          width: 80%;
          margin: auto;
          padding: 0px 40px 40px 40px;
        }
        
        .faq-item summary {
          cursor: pointer;
          font-size: 1em;
          padding: 10px;
          background-color: rgb(248, 245, 245);
          border: 1px solid #ddd;
          margin-bottom: 5px;
          list-style: none;
        }
        
        .faq-item summary::-webkit-details-marker {
          display: none;
        }
        
        .faq-item[open] summary::after {
          content: '▲';
          float: right;
        }
        
        .faq-item summary::after {
          content: '▼';
          float: right;
        }
        
        .faq-item p {
          margin: 10px 0;
          padding: 10px;
          background-color: #fff;
          border-left: 3px solid #ddd;
          border-right: 3px solid #ddd;
        }
        .FAQ h3 {
          font-size: 24px;
          margin-bottom: 20px;
        }
        .faq-item {
          margin-bottom: 20px;
        }
        .faq-item p {
          font-size: 16px;
          line-height: 1.6;
        }
        .site-footer {
          background-color: #9A77CF;
          padding: 45px 0 20px;
          font-size: 15px;
          line-height: 24px;
          color: #fff;
          border-radius: 0;
          box-shadow: 0 10px 20px rgba(0,0,0,0.5);
          width: 100%; /* Ensure the footer spans the full width */
          margin: 0;
          margin-top: 50px;
        }
        .site-footer.container{
          width: 150px;
        }
        .site-footer hr {
          border-top-color: #bbb;
          opacity: 0.5;
        }
        .site-footer hr.small {
          margin: 20px 0;
        }
        .site-footer h6 {
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          margin-top: 5px;
          letter-spacing: 2px;
        }
        .site-footer a {
          color: #fff;
        }
        .site-footer a:hover {
          color: #fff;
          text-decoration: none;
        } 
        .footer-links {
          padding-left: 0;
          list-style: none;
        }
        .footer-links li {
          display: block;
        }
        .footer-links a {
          color: #ffffff;
        }
        .footer-links a:active,
        .footer-links a:focus,
        .footer-links a:hover {
          color: #fff;
          text-decoration: none;
        } 
        .site-footer .social-icons {
          text-align: right;
        }
        .site-footer .social-icons a {
          width: 40px;
          height: 40px;
          line-height: 40px;
          margin-left: 6px;
          margin-right: 0;
          border-radius: 100%;
          background-color: #33353d;
        }
        .copyright-text {
          margin: 0;
        }
        @media (max-width: 991px) {
          .site-footer [class^="col-"] {
            margin-bottom: 30px;
          }
        }
        @media (max-width: 767px) {
          .site-footer {
            padding-bottom: 0;
          }
          .site-footer .copyright-text,
          .site-footer .social-icons {
            text-align: center;
          }
        }
        .social-icons {
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          display: flex;
        }
        .social-icons li {
          display: inline-block;
          margin-bottom: 4px;
        } 
        .social-icons a {
          background-color: #eceeef;
          color: #ffffff;
          font-size: 16px;
          display: inline-block;
          line-height: 44px;
          width: 44px;
          height: 44px;
          text-align: center;
          margin-right: 8px;
          border-radius: 100%;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          transition: all 0.2s linear;
        }
        .social-icons a:active,
        .social-icons a:focus,
        .social-icons a:hover {
          color: #fff;
          background-color: #29aafe;
        } 
        .social-icons a.facebook:hover {
          background-color: #3b5998;
        }
        .social-icons a.twitter:hover {
          background-color: #00aced;
        }
        .social-icons a.linkedin:hover {
          background-color: #007bb6;
        }
        .social-icons a.instagram:hover {
          background-color: #ea4c89;
        }