
body {
    background: url("imagess/backwallpaper.jpg") no-repeat center fixed;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

form h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-floating input, .form-floating label {
    font-size: 14px;
    padding: 10px;
}

form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

form .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

form .btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

form .form-floating {
    margin-bottom: 20px;
}
